.edit-btn-post{

    padding: 10px 40px;
    margin-top: 40px;
    border: none;
    font-size: 14px;
    background: #46A2FD;
    font-weight: 600;
    cursor: pointer;
    color: white;
    /*Outline, quita el borde negro del boton, luego de darle click*/
    outline: none;
    border-radius: 5px;

}

.delete-btn-post{

    padding: 10px 40px;
    margin-top: 40px;
    border: none;
    font-size: 14px;
    background: #46A2FD;
    font-weight: 600;
    cursor: pointer;
    color: white;
    /*Outline, quita el borde negro del boton, luego de darle click*/
    outline: none;
    border-radius: 5px;


}