*{margin: 0;padding: 0;}
body{
    background-attachment: #fffffa;
}
header{
    width: 100%;
    overflow: hidden;
    background:#252932;
    margin-bottom: 20px;

}
.wrapper {
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}
header .logo{
    color: #f2f2ff;
    font-size: 50px;
    line-height: 200px;
    float: left;

}
header nav{
    float: right;
    line-height: 200px;
}


header nav a {
    display: inline-block;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    line-height: normal;
    font-size: 20px;
    font-weight: bold;
    -webkit-transition:all 500ms easy;
    -o-transition: all 500ms easy;
    transition:all 500ms easy;
}
header nav a:hover{
    background:#f56f3a;
    border-radius: 50px;

}
.header2 {
    position: fixed;
    height: 100px;
}
.header2 .logo{
    line-height: 100px;
    font-size: 30px;
}
.header2 nav{
    line-height: 100px;
}

.contenido p {
    margin-bottom: 1em;

}
@media screen and (max-width:950px) {
    header .logo,
    header nav{
        width: 100%;
        text-align:center;
        line-height: 100px;
    }
    .header2 {
        height: auto;

    }
    .header2 .logo,
    .header2 nav{
        line-height: 50px;
    }
}