@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;600;700&display=swap");
body {
  padding: 0;
  margin: 0;
  font-family: 'Spartan', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

.bg {
  background-color: #F7F9FF;
}

.navbar {
  color: #fff;
  height: 77px;
  line-height: 77px;
  font-weight: 600;
  -webkit-box-shadow: 0px 0px 30px 0.1px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 30px 0.1px rgba(0, 0, 0, 0.25);
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  background-color: rgb(16, 40, 177);
  position: fixed;
  width: 100%;
  z-index: 1;
}

.navbar .navbar-brand {
  float: left;
  font-size: 20px;
}

.navbar h1 {
  margin: 0;
  font-size: 20px;
}

.toggle {
  float: right;
  display: none;
  font-size: 25px;
  cursor: pointer;
}

.navbar-nav {
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float: right;
  font-size: 15px;
  -webkit-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
}

.navbar-nav .nav-item {
  padding: 0px 30px;
  height: auto;
}

.navbar-nav .nav-item:hover {
  color: #a8a8a8;
}

.parallax {
  background-color: #fff;
  background-image: url(../img/home/landi.jpg);
  background-attachment: fixed;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.home {
  padding-top: 150px;
  color: #fff;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.home .typing {
  font-size: 50px;
  font-weight: 600;
}

.home .subtitle {
  font-weight: 600;
}

.home .subtitle a {
  color: #7C00C9;
}

.home .subtitle a:hover {
  text-decoration: underline;
}

.home .siema img {
  width: 50%;
}

.about {
  margin-top: 100px;
  text-align: center;
}

.about h2 {
  padding: 10px;
  border-bottom: 5px solid #7C00C9;
  display: inline-block;
}

.about .about-card {
  padding: 20px;
  margin: 10%;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  border-radius: 20px;
  background: #ffffff;
  -webkit-box-shadow: 20px 20px 60px #d9d9d9, -20px -20px 60px #ffffff;
          box-shadow: 20px 20px 60px #d9d9d9, -20px -20px 60px #ffffff;
}

.about .about-card .iconify {
  font-size: 100px;
  color: #7C00C9;
}

.about .about-card p {
  font-weight: 900;
  text-transform: uppercase;
}

.about .about-card:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.skills {
  margin-top: 100px;
  text-align: center;
}

.skills h2 {
  padding: 10px;
  border-bottom: 5px solid #7C00C9;
  display: inline-block;
}

.skills .skill img {
  height: 100px;
  padding-right: 20px;
  padding-left: 20px;
}

.skills .skill p {
  margin: 0;
  color: #666666;
  font-size: 50px;
}






.footer {
  background-color: #000000;
  background-image: url(../img/home/landivar.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding: 90px;
}

.hola{
  background-color: #3b5998;
  text-align: center;
}

.footer img {
  width: 25%;
  padding: 10px 0px;
}

.footer i {
  padding: 20px;
  font-size: 25px;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
}

.footer i:hover {
  opacity: 0.7;
}

.footer .fa-facebook {
  background: #3b5998;
  color: white;
}

.footer .fa-twitter {
  background: #55acee;
  color: white;
}

.footer .fa-linkedin {
  background: #007bb5;
  color: white;
}

.footer .fa-instagram {
  background: #9c2dbb;
  color: white;
}

.footer .fa-github {
  background: #212529;
  color: white;
}

.footer .soc {
  display: inline-block;
  margin: 4px;
}

.copyright {
  text-align: center;
  background-color: #000000;
  color: #fff;
  padding: 10px;
}

.copyright span {
  opacity: 0.5;
  font-size: 14px;
}

/* La parte responsiva del encabezado  */
@media (max-width: 992px) {
  .navbar .navbar-nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0;
    position: absolute;
    top: 77px;
    left: -100%;
    width: 100%;
    text-align: center;
    background-color: #fff;
    color: rgb(0, 0, 0);
  }
  .navbar .toggle {
    display: block;
  }
  .navbar .show {
    left: 0%;
  }
  .navbar .navBar {
    top: 64px;
  }
  .home {
    padding-top: calc((100vh - 285px)/2);
  }
  .home .typing {
    font-size: 20px;
  }
  .home .siema img {
    width: 100%;
  }
  .about .about-card {
    margin-left: 0px;
    margin-right: 0px;
  }
  .about .about-card .iconify {
    font-size: 50px;
  }
  .about .about-card p {
    font-size: 12px;
  }
  .work .col-12 {
    margin-bottom: 30px;
  }
  .activities codersrank-activity {
    --svg-width: 100%;
  }
  .experience .title {
    text-align: left;
  }
  .experience .title p {
    font-size: 0.8rem;
  }
  .experience .company {
    padding-right: 0px;
  }
  .experience .company .box {
    margin-left: 10px;
    overflow: none;
  }
  .experience .company h3 {
    padding-left: 10px;
  }
  .experience .company ul {
    font-size: 0.9rem;
    margin-left: 0px;
  }
  .experience .company ul li {
    padding: 5px 0px;
  }
  .contact img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
  .footer img {
    width: 80%;
  }
  .footer i {
    padding: 12px;
  }
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes backInLeft {
  0% {
    -webkit-transform: translateX(-2000px) scale(0.7);
    transform: translateX(-2000px) scale(0.7);
    opacity: .7;
  }
  80% {
    -webkit-transform: translateX(0) scale(0.7);
    transform: translateX(0) scale(0.7);
    opacity: .7;
  }
  to {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes backInLeft {
  0% {
    -webkit-transform: translateX(-2000px) scale(0.7);
    transform: translateX(-2000px) scale(0.7);
    opacity: .7;
  }
  80% {
    -webkit-transform: translateX(0) scale(0.7);
    transform: translateX(0) scale(0.7);
    opacity: .7;
  }
  to {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}

.backInLeft {
  -webkit-animation-name: backInLeft;
  animation-name: backInLeft;
}

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}
/*# sourceMappingURL=style.css.map */